Kata6

In [58]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print('There are', len(planets), 'planets')
planets.append('Pluton')
print(planets[-1], 'is the last planet')

There are 8 planets
Pluton is the last planet

In [97]:
user_planet = input('Please enter the name of the planet (with a capital letter to start)')
planet_index = planets.index(user_planet)
print('Here are the planets closer than ' + user_planet)
print(planets[0:planet_index])
print('Here are the planets further than ' + user_planet)
print(planets[planet_index + 1:])

Here are the planets closer than Earth
['Mercury', 'Venus']
Here are the planets further than Earth
['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

Ejercicio de pr√°ctica

In [98]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print('The first planet is', planets[0])
print('The second planet is', planets[1])
print('The third planet is', planets[2])
print('The fourth planet is', planets[3])
print('The fifth planet is', planets[4])
print('The sixth planet is', planets[5])
print('The seventh planet is', planets[6])
print('The eighth planet is', planets[7])

planets[3] = 'RED PLANET'
planets[2] = 'PLANETA AGUA'
print('\nMars is also know as',planets[3])
print('The Earth is our HOME and is also know as',planets[2])

The first planet is Mercury
The second planet is Venus
The third planet is Earth
The fourth planet is Mars
The fifth planet is Jupiter
The sixth planet is Saturn
The seventh planet is Uranus
The eighth planet is Neptune

Mars is also know as RED PLANET
The Earth is our HOME and is also know as PLANETA AGUA

In [99]:
#Determinar la longitud de una lista
number_of_planets = len(planets)
print('There are', number_of_planets, 'planets in the solar system.')

#Agregar valores a las listas.
planets.append('Pluton')
number_of_planets = len(planets)
print('\nThere are actually', number_of_planets, 'planets in the solar system.')
print('Last planet in our solar system is',planets[8])

There are 8 planets in the solar system.

There are actually 9 planets in the solar system.
Last planet in our solar system is Pluton

In [100]:
planets.pop()
number_of_planets = len(planets)
print('No, there are definitely', number_of_planets, 'planets in the solar system.')

No, there are definitely 8 planets in the solar system.

In [101]:
print("The first planet is", planets[0])
print('The last planet is', planets[-1])
print('The penultimate planet is', planets[-2])

The first planet is Mercury
The last planet is Neptune
The penultimate planet is Uranus

In [102]:
jupiter_index = planets.index('Jupiter')
print('Jupiter is the', jupiter_index + 1, 'planet from the sun')

Jupiter is the 5 planet from the sun

ALMACENAR NUMEROS EN LA LISTA

In [103]:
gravity_on_earth = 1.0
gravity_on_the_moon = 0.166
gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

bus_weight = 12650 

print('On Earth, a double-decker bus weighT', bus_weight, 'kg')
print('On Mercury, a double-decker bus weighT', bus_weight * gravity_on_planets[0], 'kg')

On Earth, a double-decker bus weighT 12650 kg
On Mercury, a double-decker bus weighT 4781.7 kg

In [104]:
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('The lightest a bus would be in the solar system is', bus_weight * min(gravity_on_planets), 'kg')
print('The heaviest a bus would be in the solar system is', bus_weight * max(gravity_on_planets), 'kg')

On Earth, a double-decker bus weighs 12650 kg
The lightest a bus would be in the solar system is 4781.7 kg
The heaviest a bus would be in the solar system is 29854.0 kg

MANIPULAR LISTA DE DATOS

In [105]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets_before_earth = 'Planets before earth are:', planets[0:2]
print(planets_before_earth)

('Planets before earth are:', ['Mercury', 'Venus'])

In [106]:
planets_after_earth = planets[3:8]
print('Planets after earth are:', planets_after_earth) 

planets_after_earth = planets[3:]
print(planets_after_earth)

Planets after earth are: ['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [107]:
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regular_satellite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

In [108]:
regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

In [109]:
regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']